@import "../../../styles/variables";

.header {
  padding: 25px 5px;
  background: $c-main-blue;
  color: $c-white-text;
  font-weight: 800;
  font-size: 18px;
  line-height: 25px;
}

.header__container {
  display: flex;
  justify-content: space-between;
}
