@import "src/styles/variables";

.navigation {
  font-size: 16px;
  font-weight: 600;
  width: 100%;
  max-width: 390px;

  &List {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  &Login {
    display: flex;
    justify-content: center;
    align-items: center;

    background: $c-main-yellow;
    padding: 20px 75px;
  }
}